.hero {
    background: url(../img/decor/pattern.svg) right bottom / contain no-repeat;
    background-color: #61C4D9;
    color: #fff;
    position: relative;

    @include tablets {
        background-position: right center;
        background-size: 75%;
    }


    &::before {
        content: url('../img/decor/leaves3.svg');
        position: absolute;
        bottom: -40px;
        left: 2%;

        @include tablets {
            display: none;
        }
    }

    &::after {
        content: url('../img/decor/Group4.png');
        position: absolute;
        bottom: -40px;
        right: 2%;

        @include tablets {
            top: 50%;
            left: 50%;
            bottom: initial;
            right: initial;
            transform: translate(-50%, -100%);
            content: '';
            background: url(../img/decor/comp.png);
            width: 353px;
            height: 365px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;


        }


        @include phones {
            height: 338px;
            width: 325px;


            display: flex;
            max-width: 325px;
        }

    }



}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 25px 0 45px;
    background: url(../img/decor/coholate.svg) right center/ 50% no-repeat;

    @include tablets {
        background: none;
        padding-bottom: 173px;
    }

    @include phones {
        padding-bottom: 97px;
    }

}

.hero__title-section {
    max-width: 350px;

    @include tablets {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


    }
}

.hero__main-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include phones {
        font-size: 40px;
    }
}

.hero__title-desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    margin-bottom: 28px;

    @include tablets {
        max-width: 370px;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}